<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type='image/png' href="../static/img/Eduardo.jpeg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Portifólio - Eduardo Resplandes</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/Eduardo.jpeg" alt="Foto do Thiago">
            <h1>Eduardo Resplandes</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/eduardo-resplandes/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/eresplandes">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/dudu_resplandes/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>

        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                            aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
               
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Eduardo </h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor Back-end</span>
            </div>



            </div>

        </section>

        <section class="container mt-5" id='sobre'>
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>Olá, meu nome é Eduardo Resplandes e sou um programador Python especializado em Flask. Tenho
                        experiência trabalhando com HTML, CSS e JavaScript para criar interfaces web atraentes e
                        funcionais. Estou sempre buscando aprender novas ferramentas e técnicas para aperfeiçoar minhas
                        habilidades e fornecer soluções de qualidade para meus clientes. Estou animado para trabalhar em
                        projetos futuros e colaborar com a comunidade de desenvolvimento!</p>
                </div>
            </div>

            <div class="row mt-4">
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class='pt-5'>Conhecimentos</h2>
                <div class="row">
                    <div class="col-md-12">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"
                            width="100" height="100" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg"
                            width="100" height="100" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg"
                            width="100" height="100" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original-wordmark.svg"
                            width="100" height="100" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
                            width="100" height="100" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original-wordmark.svg"
                            width="100" height="100">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg"
                            width="100" height="100" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
                            width="100" height="100" />
                    </div><br>

                    <div class="row">
                        <h2 class='pt-5'>Habilidades</h2>
                        <div class="col-md-6">
                            <p class="mt-3 mb-0">Trabalho em equipe</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>

                            <p class="mt-3 mb-0">Proatividade</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime="left" role="progressbar" style="width: 100%;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                            </div>

                            <p class="mt-3 mb-0">Orientação a detalhes</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;"
                                    aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="mt-3 mb-0">Comunicação</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;"
                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>

                            <p class="mt-3 mb-0">Empatia</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                            </div>

                            <p class="mt-3 mb-0">Comprometimento</p>
                            <div class="progress">
                                <div class="progress-bar" data-anime="left" role="progressbar" style="width: 98%;"
                                    aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Resplandes</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>